/* **** */
/* Messy button */
/* **** */

.messy-btn {
  position: absolute;
  top: 15%;
  left: 1%;
  font-size: 210%;
  font-family: comic sans ms;
  color: white;
  background-color: #03a9f4;
  border-radius: 7px;
  border: none;
  /* padding: 12px 27px;
  border: solid 2px transparent; */
  transition: background-color 0.3s;
}

.messy-btn:hover {
  cursor: pointer;
  border: solid 2px red;
  background-color: white;
  color: #03a9f4;
  border: solid 2px #03a9f4;
  padding: 12px 27px;
}

/* **** */
/* Fixed button */
/* **** */

.fixed-btn {
  position: absolute;
  top: 35%;
  left: 1%;
  font-size: 210%;
  font-family: comic sans ms;
  color: white;
  background-color: #03a9f4;
  padding: 12px 27px;
  border-radius: 7px;
  border: none;
  border: solid 2px transparent;
  transition: background-color 0.3s;
}

.fixed-btn:hover {
  cursor: pointer;
  border: solid 2px red;
  background-color: white;
  color: #03a9f4;
  border: solid 2px #03a9f4;
  padding: 12px 27px;
}
