.navbar {
  background: linear-gradient(#00abe4, #00abe4);
}
.navbar-brand,
.navbar-toggler {
  color: white !important;
  font-weight: 500;
}
.navbar-text {
  color: white;
}

.search {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 30px 0px;
}

.search-container {
  width: 100%;
  background: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.search-container .input-data {
  height: 40px;
  width: 90%;
  position: relative;
  margin-top: 30px;
}
.search-container .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  outline: none;
  border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0;
}
.input-data label:active {
  display: none;
  visibility: hidden;
}

.search-container .input-data label {
  position: absolute;
  bottom: 14px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.searchbtn button {
  background: #00abe4;
  color: white;
  border: none;
  outline: none;
  font-weight: 500;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 30px;
  cursor: pointer;
}

.searchbtn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.searchbtn button:hover {
  background: #01b6f3;
}

#search {
  width: 14%;
  margin-right: 30px;
}
#clear {
  margin-left: 30px;
  width: 14%;
}

.bi:hover {
  color: blue;
  cursor: pointer;
}
* {
  font-family: sans-serif;
}

.content-table {
  width: 90%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.content-table thead tr {
  background-color: #d7e8fc;
  color: black;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #01b6f3;
}

.content-table tbody tr:hover {
  background-color: #eef4fa;
}

/* footer */
.site-footer {
  padding: 10px 0;
  background-color: #d7e8fc;
  text-align: center;
}
.site-footer .footer-wrapper .footer-logo a {
  display: inline-block;
  border: 1px solid green;
}

.site-footer .footer-wrapper .footer-logo a img {
  width: 100px;
  height: 50px;
}
