.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@keyframes rotate_scale {
  0% {
    transform: scale(0) rotate(0) translate(25%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(6) rotate(250deg) translate(-50%, -50%);
    opacity: 0;
  }
}
body {
  position: relative;
}
#main {
  /* height: 100vh; */
  width: 100%;
  position: relative;
  background: white;
  /* overflow: hidden; */
}
#main .box {
  position: absolute;
  bottom: 34%;
  left: 10%;
  z-index: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #e63946;
  transform: scale(0) rotate(0) translate(-50%, -50%);
  animation: rotate_scale 11s ease-in-out forwards infinite;
  -webkit-animation: rotate_scale 10s ease-in-out forwards infinite;
}

#main .box:nth-child(2) {
  border-color: #1d3557;
  animation-delay: 4s;
  left: 50%;
  top: 5%;
}
#main .box:nth-child(3) {
  border-color: #457b9d;
  animation-delay: 6s;
  right: 10%;
  top: 20%;
}
#main .box:nth-child(4) {
  border-color: #486162;
  animation-delay: 8s;
  top: 50%;
  left: 85%;
}
#main .box:nth-child(5) {
  animation-delay: 9s;
  top: 50%;
  left: 50%;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0px 30px;
  height: 90px;
  justify-content: space-evenly;
}

.search-field {
  margin-right: 10px;
}
.form-control {
  border-radius: 3px !important;
  border: 1.5px solid black !important;
}

.searchbtn {
  display: flex !important;
  justify-content: center;
  height: 40px;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  transition: 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.button__text {
  font-size: 14px;
}

#search {
  margin-right: 10px;
}

#clear {
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff5;
  border-radius: 0.8rem;
}

.table__body {
  width: 99%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  margin: 0.8rem auto;
  border-radius: 0.6rem;
  border: 1px solid black;
  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.my-custom-scrollbar {
  position: relative;
  height: calc(100vh - 262px);
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: #d5d1defe; */
  background-color: #e1dbd8;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #f5f5f5;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  width: 99%;
  cursor: pointer;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th:hover {
  color: #6c00bd;
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}

.nav-row {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  height: 64px;
}

.main-nav {
  float: right;
  margin-top: 14px;
}

.main-nav li.main-li {
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

.main-nav li.main-li a {
  padding: 5px 0;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 500;
}

.main-nav li.main-li a:hover {
  border-bottom: 2px solid #bf55ec;
}
.topbar {
  background-color: #fff9f2;
  padding-bottom: 10px;
  height: 202px;
}
.navbar-logo {
  color: #7500a8;
  width: auto;
  float: left;
  margin-top: 14px;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 600;
}
.menu-item {
  display: inline-block;
  position: relative;
}

.menu-item a {
  text-decoration: none;
  padding: 6px 10px;
  color: #fff;
  display: block;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: #ffe8ce;
  min-width: 80px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  list-style: none;
  padding: 0;
  text-align: center;
}
.drop-menu li {
  padding: 10px 0px;
}
.menu-item:hover .drop-menu {
  display: block;
  z-index: 3;
}
.page-item {
  border: 1.5px solid #fdc98e !important;
}
.colorchange {
  animation: colorchange 2s infinite;
}
@keyframes colorchange {
  0% {
    color: red;
  }
  50% {
    color: black;
  }
  100% {
    color: #7f00b6;
  }
}
