.navbar {
  background: repeating-linear-gradient(
    55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0px 30px;
}

.search-field {
  margin-right: 10px;
}
.form-control {
  border-radius: 5px !important;
  border: 1px solid #6c00bd !important;
}

.searchbtn {
  display: flex !important;
  justify-content: center;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  transition: 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.button__text {
  font-size: 16px;
}

#search {
  margin-right: 10px;
}

#clear {
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main.table {
  margin-top: 30px;
  background: url(images/html_table.jpg) center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff5;
  border-radius: 0.8rem;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: 0.8rem auto;
  border-radius: 0.6rem;

  border: 1px solid black;
  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
  border-radius: 50%;
  vertical-align: middle;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: #d5d1defe; */
  background-color: #e1dbd8;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: rgb(252, 246, 246) !important;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 12.1rem;
  }
}

thead th:hover {
  color: #6c00bd;
}

thead th.active,
tbody td.active {
  color: #6c00bd;
}

.bi:hover {
  color: #6c00bd;
  cursor: pointer;
}

/* footer */
.site-footer {
  padding: 5px 0;
  /* background-color: #f9f9f9; */
  text-align: center;
  background: repeating-linear-gradient(
    55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
.site-footer .footer-wrapper .footer-logo a {
  display: inline-block;
  border: 1px solid green;
}

.site-footer .footer-wrapper .footer-logo a img {
  max-width: 160px;
}

.site-footer img {
  height: 50px;
  width: 100px;
}
