body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(to right, #ff9800, #ff5722);
  z-index: 1;
  position: relative;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  background-color: white;
  color: #ff5722;
  transition: background-color 0.3s ease-in-out;
}

/* .container {
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.box1 {
  z-index: 1;
}

.box2 {
  z-index: 2;
  position: relative;
  background-color: #ff9800;
  color: white;
}

h2 {
  margin: 0;
  padding: 0;
} */

.container {
  display: flex;
}

.box {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.box1 {
  z-index: 1;
}

.box2 {
  z-index: 2;
  position: relative;
  background-color: #ff9800;
  color: white;
  overflow: auto;
}

.content {
  max-height: 200px;
}

h2 {
  margin: 0;
  padding: 0;
}
