/* body {
  font-size: 50px;
}
div {
  border-radius: 10px;
}
.box {
  position: absolute;
  border: 4px solid gray;
  width: 500px;
  height: 500px;
  margin: auto;
  left: 0;
  top: 30;
  right: 0;
  bottom: 0;
}
.box1 {
  background-color: red;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.box2 {
  background-color: green;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 60px;
  left: 60px;
  z-index: 2;
}
.box3 {
  background-color: yellow;
  position: absolute;
  width: 350px;
  height: 350px;
  top: 110px;
  left: 110px;
  z-index: -3;
} */

.box {
  display: inline-block;
  border: 4px solid black;
  border-radius: 20px;
}
.content {
  position: absolute;
  width: 150px;
  height: 270px;
  color: #fff;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.1);
  border: 6px solid rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
