* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(background-image.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: #1ba098;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px;
}

.menu {
  width: 400px;
  float: right;
  height: 70px;
}

ul {
  float: right;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover,
.active {
  color: #1ba098;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: Arial;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .joinbtn {
  width: 160px;
  height: 40px;
  background: #1ba098;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .joinbtn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.joinbtn:hover {
  background-color: #fff;
}

.content span {
  color: #1ba098;
  font-size: 65px;
}

.form {
  width: 250px;
  height: 320px;
  background-image: linear-gradient(to bottom right, #141e30, #243b55);
  position: absolute;
  top: -20px;
  left: 870px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
  border: 1px solid #1ba098;
}

.form h2 {
  width: 220px;
  font-family: Arial;
  text-align: center;
  color: #1ba098;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 220px;
  background: transparent;
  border-bottom: 1px solid #1ba098;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: sans-serif;
  border-radius: 10px;
  margin: 20px 2px 2px 2px;
  padding: 8px;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial;
}

.loginbtn {
  width: 240px;
  height: 40px;
  background: #1ba098;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.loginbtn:hover {
  background: #fff;
  color: #1ba098;
}
.loginbtn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a {
  text-decoration: none;
  color: #1ba098;
}
