body {
  font-size: 20px;
}
h1 {
  text-align: center;
}
img {
  width: 240px;
  height: 250px;
}
div.box {
  border: 5px solid red;
  width: 600px;
  height: 600px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  position: relative;
}

div.box img {
  /* position: fixed; */
  /* position: sticky; */
  /* position: relative;
  top: 50px; */

  position: absolute;
  left: 400px;
}
