@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}
.navbar {
  background: repeating-linear-gradient(
    55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

/* body { */
/* background: linear-gradient(90deg, #c7c5f4, #776bcc); */
/* background-color: #1f2833; */
/* background: linear-gradient(270deg, #36454f, #171717); */
/* } */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  /* background: linear-gradient(90deg, #5d54a4, #7c78b8); */
  background-color: #ddd0c8;
  position: relative;
  height: 100vh;
  width: 70vw;
  /* box-shadow: 0px 0px 24px #5c5696; */
  margin: 50px 0px;
  border: 2px solid #36454f;
  border-radius: 5px;
  overflow: hidden;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  /* height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0; */
  height: 420px;
  width: 420px;
  background: #fff;
  top: 85px;
  /* right: 10px; */
  left: 90px;
  border-radius: 72px 72px 72px 72px;
  /* background-image: url("./Images/logo.png");
  background-repeat: no-repeat;
  background-position: center; */
}
.img {
  position: absolute;
  top: 235px;
  left: 123px;
}
.screen__background__shape2 {
  height: 220px;
  width: 220px;
  /* background: #6c63ac; */
  background-color: #a9a9a9;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 480px;
  width: 160px;
  /* background: linear-gradient(270deg, #5d54a4, #6a679e); */
  background: linear-gradient(270deg, #efefef, #caebf2);
  top: -19px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 225px;
  /* background: #7e7bb9; */
  background-color: #a9a9a9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: black;
}

.login__input {
  border: none;
  border-bottom: 2px solid black;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 100%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.button__text {
  font-size: 16px;
}
::placeholder {
  color: black;
}

h4 {
  margin-bottom: 20px;
  font-weight: bold !important;
}

/* footer */
.site-footer {
  padding: 5px 0;
  /* background-color: #f9f9f9; */
  text-align: center;
  background: repeating-linear-gradient(
    55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
.site-footer .footer-wrapper .footer-logo a {
  display: inline-block;
  border: 1px solid green;
}

.site-footer .footer-wrapper .footer-logo a img {
  max-width: 160px;
}

.site-footer img {
  height: 50px;
  width: 100px;
}
